// Colors
$primary: #060a0d;
$dark-grey: #2d3e58;
$light-grey: #d8d8d8;
$titleColor: #0170d1;


$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;


.color1 {color: #007dec;}
.color2 {color: #5a93f4;}
.color3 {color: #96acfb;}
.color4 {color: #c2c8ff;}
.color5 {color: #e6e4ff;}